<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="TestProperty">TestValue</entry>
<entry key="Property2">Value2</entry>
<entry key="DatabaseType">NoSQL</entry>
<entry key="Property1">Value1</entry>
</properties>
